/* Text encoding */
@charset "utf-8";
/*https://coolors.co/fffcf2-ccc5b9-403d39-252422-412b2a-5c3231-923f40-c94c4f-ff595e-ff686d*/
/* Headers*/
h1 {
 color: #F0374E;
 margin: auto;
 font-family: Roboto, helvetica, sans-serif;
 font-weight: 600;
 font-size: 125%;
 text-align: right;
 background-color: #4C4843;
 padding:1.618rem;
 border-radius: 10px 10px 0px 0px;
}
h2 {
 color: #F0374E;
 margin: auto;
 font-family: Varta, helvetica, sans-serif;
 font-weight: normal;
 font-size: 100%;
 text-align: right;
 word-spacing: 4px;
 background-color: #55534E;
 padding:16px;
 border-radius: 0px 0px 10px 10px;
}
h3 {
 color: #F0374E;
 margin: auto;
 font-family: Varta, helvetica, sans-serif;
 font-weight: normal;
 font-size: 115%;
 text-align: left;
 background-color: #403d39;
}
h4 {
 color: #DDD8D0;
 margin: auto;
 font-family: Varta, helvetica, sans-serif;
 font-weight: bold;
 font-size: 115%;
 text-align: left;
 background-color: #403d39;
}
/* Paragraphs */
p {
 color: #DDD8D0;
 font-family: Varta, helvetica, sans-serif;
 font-size: 100%;
 text-align: left;
}
/* Body */
body {
  background-color: #403d39;
}
/* Divs */
div {
  border: none;
  margin: auto;
  width: 85%;
  max-width: 1000px;
  background-color: #403D39;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
code {
  font-family: Consolas,"courier new";
  color: crimson;
  font-size: 100%;
  background-color: #2C2B28; /*CCC5B9*/
  padding: 2px;
}
pre code {
  font-family: Consolas,"courier new";
  color: crimson;
  font-size: 100%;
  background-color: #2C2B28;
  display: block;
  width:85%;
  padding: 10px;
  overflow: scroll; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
  }

/* Links */
/* Header links */
a.header:link {
  color: #ccc5b9;
  background-color: transparent;
  text-decoration: none;
}
a.header:visited {
  color: #CCC5B9;
  background-color: transparent;
  text-decoration: none;
}
a.header:hover {
  color: #F0374E;
  background-color: transparent;
  text-decoration: none;
}
a.header:active {
  color: #F0374E;
  background-color: transparent;
  text-decoration: none;
}
/* Body links */
a.body:link {
  color: #247ba0;
  background-color: transparent;
  text-decoration: underline;
}
a.body:visited {
  color: #868179;
  background-color: transparent;
  text-decoration: underline;
}
a.body:hover {
  color: #868179;
  background-color: transparent;
  text-decoration: underline;
}
a.body:active {
  color: #247ba0;
  background-color: transparent;
  text-decoration: underline;
}
/* Footer*/
footer {
  display: block;
  font-family: Varta, helvetica, sans-serif;
  font-size: 80%;
  text-align: left;
  word-spacing: 2px;
  background-color: #55534E;
  padding:1.0rem;
  border-radius: 10px 10px 10px 10px;
}
img {
  display:block;
  max-width: 100%;
  height: auto;
  margin-left:auto;
  margin-right: auto;
}
